body {
    font-family: 'Lato', sans-serif;   
    color: #1A252F;
}
.bg-dark {
    /* background-color: #8bc34a!important; */
    background-color: #343a40!important;
    
}

.carousel-item img{
    height: 32rem;
    margin-bottom: 30px;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */

    /* -webkit-filter: blur(3px); 
    filter: blur(3px); */

    /* -webkit-filter: invert(100%);
    filter: invert(100%); */

    /* -webkit-filter: sepia(100%); */

    /* filter: hue-rotate(45deg); */

    /* -webkit-filter: contrast(200%);
    filter: contrast(200%); */

    -webkit-filter: brightness(50%);
    filter: brightness(40%);

    /* -webkit-filter: saturate(250%);
    filter: saturate(250%); */
}

.bd-placeholder-img {
    background-image: url("images/shoping.jpg");
}
.nav {
    position: relative;
    z-index: 999;
  }

.form-control input {
    width: 45vw!important;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.bg-azul-oscuro {
    background-color: #1A252F;
}
.list-group a {
    text-decoration: none;
    color: #343a40;
}
.copy {
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
.brands a {
    color: #fafafa;
    padding: 7px ;
    border-radius: 50%;
    border: 1px solid  #fafafa;
}
footer .row {
    padding: 5%;
}

  @media (min-width: 768px) {    
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }