body {
    font-family: 'Lato', sans-serif;   
    color: #1A252F;
    padding-top: 55px;
}
.bg-dark {
    /* background-color: #8bc34a!important; */
    background-color: #343a40!important;
    
}
.carousel-item {
    background-color: #1a1a1a;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.carousel-item img {        
    /* min-height: 32rem; */
    
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */

    /* -webkit-filter: blur(3px); 
    filter: blur(3px); */

    /* -webkit-filter: invert(100%);
    filter: invert(100%); */

    /* -webkit-filter: sepia(100%); */

    /* filter: hue-rotate(45deg); */

    /* -webkit-filter: contrast(200%);
    filter: contrast(200%); */

    -webkit-filter: brightness(50%);
    filter: brightness(40%);

    /* -webkit-filter: saturate(250%);
    filter: saturate(250%); */
}

.nav {
    position: relative;
    z-index: 999;
  }

h2.card-title {
    font-size: 1em;
}

  .star-white {
    border-bottom: 3px solid #FAFAFA;
    margin: 35px auto;
    height: 0;
    width: 200px;
}
.star-white i {
    position: relative;
    bottom: 18px;
    padding: 10px;
    color: #FAFAFA;
    background-color: #18BC9C;
}

.star-navy {
    border-bottom: 3px solid #1A252F;
    margin: 35px auto;
    height: 0;
    width: 200px;
}
.star-navy i {
    position: relative;
    bottom: 18px;
    padding: 10px;
    color: #1A252F;
    background-color: #FFF;
}
.navbar-brand {
    margin-right: 2px;
    font-size: 1rem;
}

.form-control {
    width: 35vw!important;
    float: right;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.bg-azul-oscuro {
    background-color: #1A252F;
}
.list-group a {
    text-decoration: none;
    color: #343a40;
}
.copy {
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
.brands a {
    color: #fafafa;
    padding: 7px ;
    border-radius: 50%;
    border: 1px solid  #fafafa;
}

.messagerror{
    color: red;
    font-size: 14px;
}

footer .row {
    padding: 5%;
}

@media (min-width: 890px) {
    .bd-placeholder-img-lg {
        font-size: 2.5rem;
      }
  }
  @media (max-width: 550px) {
    .carousel-item img {
        max-height: 32rem;
    } 
    .carousel-caption h2{
        font-size: 1.2rem;
    }
    .carousel-caption .btn{
        padding:2px 40px;
        font-size: 1rem;
    }
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .nav .navbar-brand {
        font-size: 1.2rem;
    }
    
  }
  @media (min-width: 920px) {
    .carousel-item {
        padding: 0 20%;
    }
    .carousel-item img {
        height: 32rem;
    } 
  }
