*{
    /* Sirve para ver los bordes de todos los contenedores */
    /* box-shadow: red 0px 0px 1px; */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#search {
    width: 70%!important;
}
#carrito {
    padding: 6px;
    border:none; 
    border-radius: 100px;
}

#cantCarrito{
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    background-color: #23863a;
    border: solid 1px white;
    /* box-shadow: 0px 0px 10px 2px white; */
    color: white;
    border-radius: 50%;
    padding-top: 8.5px;
    /* padding-left: 1px;     */
    line-height: 0px;   
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -33px;
    left: 9.5px;
}

body {
    background-color: #FFFFFF;
    /* padding-top: 55px; */
    /*background-image: url("/storage/pics/background.png");
    background-size: cover;*/
}

.bg-black {
    background-color: #000000;
}

.bg-dark {
    /* background-color: #8bc34a!important; */
    background-color: #343a40!important;    
}
.bg-azul {
    background-color: #0063c5;    
}
.bg-azul-oscuro {
    background-color: #1A252F;
}

.carousel-item {
    background-color: #1a1a1a;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.carousel-item img {        
    /* min-height: 32rem; */
    
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */

    /* -webkit-filter: blur(3px); 
    filter: blur(3px); */

    /* -webkit-filter: invert(100%);
    filter: invert(100%); */

    /* -webkit-filter: sepia(100%); */

    /* filter: hue-rotate(45deg); */

    /* -webkit-filter: contrast(200%);
    filter: contrast(200%); */

    -webkit-filter: brightness(50%);
    filter: brightness(40%);

    /* -webkit-filter: saturate(250%);
    filter: saturate(250%); */
}

.nav {
    position: relative;
    z-index: 999;
  }


.navbar-brand {
    margin-right: 0.7rem;
    padding-top: 0.4rem;
    font-size: 1rem;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.list-group a {
    text-decoration: none;
    color: #343a40;
}

.copy {
    padding: 10px;
    font-weight: bold;
    font-size: 11x;
    color: white;
} 

.brands a {
    color: #fafafa;
    padding: 7px ;
    font-size: 1.3rem;
    border: none;
}

.messagerror{
    color: red;
    font-size: 14px;
}

footer .row {
    padding: 5%;
} 

/* section{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
} */

.producto {
    padding: 1px;
}

.producto a{
    margin-top: 0.3em;
}
.producto > a > img{
    object-fit: cover;
}

.pagination {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.busquedasnav{
    color:black;
}
.busquedasnav:hover{
    color:blue;
}

.imagen{
    min-width: 250px;
    max-width: 300px;
    min-height: 250px;
    max-height: 300px;
    transition: .3s ease all;
}

.imagen:hover{
    filter: contrast(200%);
}
.imagen__ajustada {
    /* width: 300px; */
    object-fit: cover;
}


/* Estilos para el modal de compra */
/* POPUP */
.overlay {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 10000;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-family: 'Montseeat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 700px;

    transition: .3s ease all;
    opacity: 0;
    transform: scale(0.7);
}

.popup .btn-cerrar-popup {
    /* font-size: 16px; */
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3{
    /* font-size: 36px; */
    font-weight: 600px;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4{
    /* font-size: 26px; */
    font-weight: 300px;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor-inputs , .fa-credit-card{
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border:none;
    color:#fff;
    /* background-color: #5e7de3; */
    /* font-family: 'Montseeat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all; */
}

.popup form .btn-submit:hover {
    background-color: rgba(94, 125, 227, .9);
}


/* ANIMACIONES DE VENTANA EMERGENTE */
.popup.active {opacity: 1;transform: scale(1);}
.popup.active h3{ animation: entradaTitulo .8s ease .5s forwards;}
.popup.active h4{ animation: entradaSubtitulo .8s ease .5s forwards;}
.popup.active .contenedor-inputs{ animation: entradaInputs 1s ease 1s forwards;}
.popup.active .fa-credit-card{ animation: entradaTarjeta .5s ease .5s forwards;}

@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes entradaTarjeta {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.error{
    /* background-color: red; */
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.863)!important;
    /* border-color :red!important; */
}

/* table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}
table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
} */

/*MEDIA QUERY PARA DIFERENTES RESOUCIONES*/
@media (max-width: 320px){
    .overlay {
        top:10px;
    }
}

@media (max-width: 550px) {
    .navbar-brand {
        padding-top: 0.9rem;
    }   
      body{
         padding-top: 2rem;
      }
     .carousel-item img {
        max-height: 32rem;
    } 
    .carousel-caption h2{
        font-size: 1.2rem;
    }
    .carousel-caption .btn{
        padding:2px 40px;
        font-size: 1rem;
    }
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .nav .navbar-brand {
        font-size: 1.2rem;
    }
    .nav .navbar {
        background-color: green;
    }
    .copy {        
        font-size: 1rem;
       
    } 
  }


@media (min-width: 551px) {
    body{
        padding-top: 2rem;
     }      
}

@media (min-width: 576px) {
    body{
        padding-top: 1rem;
     }      
}

@media (min-width: 767px) {
    body{
        padding-top: 0.6rem;
     }      
}

@media (min-width: 890px) {
    .bd-placeholder-img-lg {
        font-size: 1rem;
      }      
}

@media (min-width: 920px) {
    
    .carousel-item {
        padding: 0 20%;
    }
    .carousel-item img {
        height: 32rem;
    } 
  }